.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 0px 0px 0px;
}

/* lado direito */
.right {
padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8rem;
}

.bigbox {
    background-color: green;
    height: 80px;
}

.columnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 800px; 
  overflow-y: auto; 
}

.cardWrapper {
  flex: 0 0 calc(33.33% - 10px); 
}

.cardWrapper:first-child {
  margin-left: 0;
}

.cardWrapper:last-child {
  margin-right: 0;
}

.columnContainer::-webkit-scrollbar {
  width: 8px;
}

.columnContainer::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

.columnContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
